project:
  type: website

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    keep-md: true
    grid:
      sidebar-width: 250px
      body-width: 1100px
      margin-width: 150px
      gutter-width: 1.0rem
  commonmark: default


website:
  twitter-card: true
  open-graph: true
  repo-actions: [issue]
  navbar:
    background: primary
    search: true
  sidebar:
    style: floating

metadata-files: [nbdev.yml, sidebar.yml]